{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form | crispy }} 
            {{ p_form | crispy }} 
        </fieldset>
        <div class ="form-group">
            <button class ="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
    <h2> Your Facts </h2>
    <div class = "infinite-container">
    {% for post in posts %}
      <article class="infinite-item media content-section ">
        <h2 class="like-count{{post.id}}"> {{post.num_likes}} </h2>

        <img class = "rounded-circle article-img" src ="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
      </article>
    {% endfor %}
    </div>


  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}
  
  <div class="d-flex d-none position-fixed " style="top:35vh;left:46vw">
    <button id="hide" class="btn btn-primary loading hidden">
      <span class="spinner-border spinner-border-sm"></span>
      Loading..
    </button>
  </div>
  <script>
    $(function(){
    $("#hide").hide();
    });
    var infinite = new Waypoint.Infinite({
      
      element: $('.infinite-container')[0],
      offset: 'bottom-in-view',
      onBeforePageLoad: function() {
        console.log('before pageLoad ajax');
        $('.loading').show();
      },
      onAfterPageLoad: function($items) {
        console.log('after pageLoad ajax');
        $('.loading').hide();
      }
    });
    console.log("Hey!");
  </script>

{% endblock content %}



